div#board {
  margin: auto;
  padding: 1em;
}
div#board .row {
  clear: both;
}
div#board .square {
  height: 60px;
  width: 60px;
  float: left;
}
div#board .unplayed {
  background-color: #CCC;
  border: 1px solid #DDD;
}
div#board .player1 {
  background-color: #000;
  border: 1px solid #000;
}
div#board .player2 {
  background-color: #fff;
  border: 1px solid #fff;
}
